<!-- Search -->
<div class="header-search">
  <button type="button" class="search-toggle-btn" onclick="toggleSearchOverlay()" aria-label="{{ _('Toggle search') }}">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>

  <div class="search-overlay" id="searchOverlay">
    <div class="search-box">
      <div class="autocomplete" style="position: relative; width: 100%;">
        <input type="text" data-cat-id="{{ category.id if category is defined else '' }}"
          class="form-control search-input-input overlay-search-input"
          placeholder="{{ settings.header_search_placeholder or _('Search...') }}">
        <div class="autocomplete-items"></div>
      </div>

      <button class="close-search" onclick="toggleSearchOverlay()">&times;</button>
    </div>
  </div>
</div>
<script src="{{ 'header.js' | asset_url }}"></script>