
  .autocomplete-items > div a {
    border-bottom: 1px solid #d4d4d4;
    background-color: var(--text-color-primary-bg);
    color: var(--primary-color);
    border-radius: 20px;
    padding: 8px 12px;
    word-break: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  .autocomplete-items > div a:hover {
    background-color: var(--primary-color);
    color: var(--text-color-primary-bg);
  }

  .main_header {
    background-color: transparent;
  }

  /* Header Buttons */
  .main_header .acc_btn {
    border-radius: 50%;
    padding: 4px;
    border: none;
    background-color: var(--primary-color);
    filter: brightness(20%)
  }


  .main_header .search-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color:         var(--header-text-color-primary-bg, var(--text-color-primary-bg));;
    font-size: 18px;
  }

  .main_header .search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.7);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 9999;
  }

  .main_header .search-toggle-btn {
    padding: 0;
  }

  .main_header .icon-search {
    font-size: 32px;
    color: var(--header-text-color-primary-bg, var(--text-color-primary-bg));;
  }

  .main_header .btn-link:hover {
    text-decoration: none;
  }

  .main_header .search-overlay.active {
    opacity: 1;
    pointer-events: auto;
  }

  .main_header .search-box {
    position: relative;
    width: 90%;
    max-width: 500px;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transform: translateY(-20px);
    transition: transform 0.4s ease;
  }

  .main_header .search-overlay.active .search-box {
    transform: translateY(0);
  }

  .main_header .search-box input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    background: transparent;
  }

  .main_header .close-search {
    background: none;
    border: none;
    font-size: 28px;
    line-height: 1;
    color: #333;
    cursor: pointer;
  }

  .main_header .close-search:hover {
    color: #000;
  }